body {
    background-color: rgb(132, 93, 15);
    box-sizing: border-box;
}

.red-border {
    outline-color: red;
    border: 1px red solid;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    padding: 10px 20px;
    margin: 2px;
}

input {
    padding: 10px;
    font-size: large;
    margin: 5px;
}